.card{
    width: 15%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px;
    background-color: rgb(41, 40, 40);
}
.bkimg{
    width: 12%;
    padding: 10px;
    height: 20%;
    z-index: 250;
}
.details .bkname{
    align-items: center;
}
.bkname{
    align-self: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: auto; 
}
.dt{
  color: rgb(122, 122, 122); 
}
.ftre{
    color: rgb(219, 219, 217);
}