.grid{
	display: grid;
	justify-content: center;
	grid-template-columns: 30vw 30vw 30vw;
}

.grid1{
	display: grid;
	grid-template-columns: 40vw 40vw;
	justify-content: center;
}

.grid2{
	display: grid;
	justify-content: center;
	grid-template-columns: 30vw 30vw 30vw;
	background-color: black; 
	color: white; 
	height: 10vw;
}

.changelay2{
		display: none;
	}

.extra{
	border-radius: 0%;
}

.her{
	border-radius: 0%;
	opacity: 0.5;
	height: 100%;
}


img{
	width: 100%;
	border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card{
	border-radius: 5%;
	margin: 2vw; 
	box-shadow: rgb(209, 209, 213) 0px 5px 15px;
}

.card:hover{
	transform: scale(1.05);
	transition: 0.75s;
	/*box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;*/
}

.info{
	border-radius: 10px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
width: 80%; 
height: 20vw;
margin: auto; 
display: none;
}

.text{
	padding: 1vw;
	padding-top: 0.25vw; 
	padding-bottom: 0.5vw;
}

.texthead{
	font-size: 0.8vw;
}

.textdis{
	margin-bottom: 0.5vw;
	 font-size: 0.6vw;
}

.container {
  position: relative;
  color: white;
  background: rgba(0,0,0,0.75);
}
.bottom-left {
	font-family: "Sitka Small";
  position: absolute;
  top: 14%;
  left: 52px;
  font-size: 5vw;
}

.extra:hover{
	transform: scale(1.025);
	transition: 0.5s;
}

.hero-text1{
	font-size: 4.75vw;
	 font-weight: 2;
	  color: black; 
	  margin: 1.00vw;
	  margin-top:10px;
}

/* .hero-text4{ */
	/* margin: 0.85vw; */
/* } */

.hero-text2{
	font-size: 4vw; 
	margin: 0.85vw; 
	font-weight: 2;
}

.hero-text3{
	font-size: 1.5vw; 
	font-weight: 1; 
	margin-left: 0.95vw; 
	margin-bottom: 0em;
}

.hero-text5{
	font-size: 1.5vw; 
	font-weight: 1; 
	margin-left: 0.95vw; 
	margin-bottom: 0em;
}

.hero-text4{
	margin-left:5px;
}
.up{
	text-align: center; 
	margin: 0em; 
	padding-top: 0em; 
	display: none;
}

.down{
	text-align: center; 
	margin: 0em; 
	padding-top: 0em;
}

.instruct{
	font-size: 0.75vw; 
	text-align: center; 
	margin-bottom: 0em;
}

.info{
	padding: 2vw; 
	font-size: 1vw;
}

.footr{
	align-self: center;
	font-size: 1vw;
}

.extra-head{
	text-align: center; 
	font-size: 6vw; 
	padding: 2vw; 
	margin: 0em; 
	color: black;
}

.extra-main{
	overflow-x: hidden;
	background-image: url("img/extra.jpg"); 
	background-attachment: fixed;
	background-size: cover; 
	color: white; 
	margin: 0px; 
	margin-top: 2vw;
}

.lay{
	 padding: 2vw;  
	 font-size: 1.5vw; 
	 color: black; 
}

.ic{
	padding: 1vw;
}

.request{
	color: black; 
	left: 20%; 
	position: absolute; 
	right: 20%; 
	top: 15%; 
	font-family: 'Sitka Small';
}

.request-head{
	font-size: 3.5vw;
	color: white;
	text-shadow: 2px 2px black;
}

.request-text{
	margin: 2.75vw;
	font-size: 1.5vw;
	color: white;
	text-shadow: 2px 2px black;
}

.con-add{
	text-align: left; 
	margin: 0px;
}
.extra-heading{
font-size: 3vw;}

.extra-img{
	padding:  2vw; 
	text-align: center;
}

.notop{
	margin-top: 0em;
}

@media only screen and (max-width: 1000px) {
	.grid{
	display: grid;
	justify-content: center;
	grid-template-columns: 95vw;
}

	.cardmajor{
  		padding: 2vw;

	}

	.lay{
		font-size: 2vw;
	}
	.texthead{
		font-size: 5vw;
		margin: 0.25vw;
	}
	
	.textdis{
	
		 font-size: 3vw;
	}
    .instruct{
		font-size:16px;
	}
	.info{
		font-size: 16px;
	}

.hero-text1{
	font-size: 6vw;
}
.hero-text2{
	display: inline-block;
	font-size: 5.25vw;
}
.hero-text4{
	margin:0vw 0vw 1vw 1vw;
	font-size: 6.25vw;
}
.hero-text5{
	font-size: 2.25vw;
}
.hero-text3{
	display: inline-block;
	font-size: 2.25vw;
	
}

.bottom-left{
	left: 30%;
	font-size: 6vw;
}
}

@media only screen and (max-width: 300px) {
.changelay1{
		display: none;
	}
	.changelay2{
		display: block;
	}

	.lay{
		margin-left: 35%;
	}
}