body,
html {
  height: 100%;
  margin: 0;
  font-weight: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.society-img{
  width: 200px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fixed= parallax
    scroll=normal */

  background-attachment: fixed;
}

.hover2:hover {
  opacity: 0.7;
}

.pimg1 {
  background-image: url("../img/imagec1.jpg");
  min-height: 100vh;
}
.pimg2 {
  background-image: url("../img/imagec2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("../img/imagec3.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border .trans {
  background-color: transparent;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.MuiGrid-root{
  padding: 2vw;
}